#sidebar {
	& a {
		padding: 1rem;
		border-radius: 16px;

		&.active {
			background-color: #e5e5e5;
		}

		&:hover {
			background-color: #e6ecf5;
			cursor: pointer;
		}
	}

	& + div {
		width: 2px;
		background-color: #eaeaea;
		height: 95%;
	}
}
